@using Microsoft.AspNetCore.Mvc.RazorPages
@model ApplicationCore.Models.ReviewModel

@{
    ViewData["Title"] = "EditReview";
}

<h1>EditReview</h1>

<h4>ReviewRequestModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReview" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <input asp-for="MovieId" class="form-control" value="@Model.MovieId" readonly="readonly" hidden="hidden"/>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" value="@Model.Rating"/>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <input asp-for="ReviewText" class="form-control" value="@Model.ReviewText"/>
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Change" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
